MSc/NetworkSecurity/courseworks
MSc/NetworkSecurity/handouts
MSc/ComputerSecurity
MSc/Cryptography
MSc/SmartCards/IY5606-Exam-17.pdf
MSc/SmartCards/IY5606-Exam-18.pdf
MSc/SecurityTesting/handouts
MSc/SecurityManagement
MSc/DigitalForensics/handouts
MSc/DigitalForensics/IY5609_Mock_Exam_Answers.pdf
MSc/DigitalForensics/IY5609_Mock_Exam_No_Answers.pdf
MSc/Dissertation
MSc/SoftwareSecurity/handouts
Languages/Python/.vscode
Languages/Python/__pycache__